@import './variables.scss';
@import "../fonts/opensans/stylesheet.css";

body {
  font-family: 'Open Sans', sans-serif;
}
b{
  font-weight: 600;
}
.adm-h1 {
  font-size: 36px;
  font-weight: 300;
  letter-spacing: 0.4px;
  line-height: 42px;
}
.adm-s28{
  font-size: 28px;	
  font-weight: 300;	
  line-height: 42px;
}


.adm-h2 {
  font-size: 24px;
  letter-spacing: 0.1px;
  line-height: 32px;
}
.line-height100{
  line-height: 100%;
}
.adm-12{
  font-size: 12px;
}
.adm-15{
  font-size: 15px;
}


.adm-h3 {
  font-size: 20px;
  letter-spacing: 0.2px;
  line-height: 32px;
}

.adm-h4 {
  font-size: 20px;
  letter-spacing: 0.2px;
  line-height: 32px;
}

.adm-text-big {
  font-size: 16px;
  letter-spacing: 0.1px;
  line-height: 26px;
}

.adm-txt-regular {
  font-size: 13px;
  line-height: 22px;
}

.adm-text-italic {
  font-style: italic;
  letter-spacing: 0.2px;
  line-height: 22px;
}

.adm-text-small {
  font-size: 10px;
  letter-spacing: 0.2px;
  line-height: 14px;
}

.adm-text-small-italic {
  font-size: 9px;
  font-style: italic;
  letter-spacing: 0.2px;
  line-height: 14px;
}

.adm-font-light {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  letter-spacing: 0.11px;
}
.min-nav{
  position: -webkit-sticky;
  position: sticky;
  position: -webkit-sticky;
  top: 20px;
  z-index: 9;
}
.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

html, body, #app {
  height: 100%;
}

.wmax1280 {
  max-width: 1280px;
}
.wmax940{
  max-width: 940px;
}
.wmax1920 {
  max-width: 1920px;
}

.layout--inner {
  background: #ffff;
}

.sider {
  background: $white-light;
  position: fixed;
  height: 100%;
  z-index: 999;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.16);
  .ivu-layout-sider-children{
    min-height: 950px;
  }
}

.line30_letter02{
  letter-spacing: 0.2px;
  line-height: 30px;
}
.product_header {
  letter-spacing: 0.2px;
  line-height: 30px;
}

.sider__menu-link {
  border-right: 5px solid transparent;
  transition: 200ms border ease;
}

.sider__menu-link:hover {
  border-right: 5px solid $blue-light;
}

.sider__menu-link.active-link {
  border-right: 5px solid $blue-light;
}

.view-photos{
  max-width: 820px;
  .view-photos__min-section{
    width: 100%;
  }
  .view-photos_container{
    overflow: auto;
    max-width: 100%;
  }
  .view-photos__item{
    border: 2px solid transparent;
    transition: 300ms border ease;
    border-radius: 2px;
    margin: 10px;
    height: 114px!important;
    min-width: 154px;
    &:hover{
      cursor: pointer;
      border: 2px solid #53A4D6;	
      -webkit-box-shadow: 1px 0px 9px -3px #000000; 
      box-shadow: 1px 0px 9px -3px #000000;
    }
    img{
      margin: 0;
      padding: 0;
    }
  }
  .view-photos__full-section{
    max-width: 600px;
    min-width: 600px;
    height: 450px;
    // margin-left: 50px;
  }
}
.tree {
  max-width: 400px;
  position: -webkit-sticky;
  position: sticky;
  position: -webkit-sticky;
  top: -1px;
  z-index: 9;
  a.tree__link {
    // background-color: #F5FAFD;
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 81%;
      height: 1px;
      background-color: #E4EEF5;
    }
    position: relative;
    &.tree__link--selected {
      z-index: 9;
      background-color: #E4EEF5;
      &::after {
        content: "";
        position: absolute;
        width: 26px;
        top: 0;
        bottom: 0;
        background-image: url(../images/arrow.svg);
        background-repeat: no-repeat;
        background-size: 100% 110%;
        background-position: -5px;
        right: -25px;
      }
    }
    &:hover {
      background-color: #E4EEF5;
      &::after {
        content: "";
        position: absolute;
        width: 26px;
        top: 0;
        bottom: 0;
        background-image: url(../images/arrow.svg);
        background-repeat: no-repeat;
        background-size: 100% 110%;
        background-position: -5px;
        right: -25px;
        z-index: 9;
      }
    }
  }
}

.header {
  border-bottom: 1px solid #CCCCCC;
  .header-menu {
    height: inherit;
    &:after {
      content: none !important;
    }
    .header-menu__item {
      float: none !important;
      border-bottom: 5px solid transparent;
      &:hover,
      &.ivu-menu-item-active {
        border-bottom: 5px solid $blue-base !important;
      }
    }
  }
}




.adm-search-filter-panel {
  border-bottom: 1px solid #CCCCCC;
  background-color: #FAFAFA;
  padding: 20px;
}

.custom-table {
  border: none;
  .ivu-table:after{
    content: none;
  }
  .ivu-tooltip{
    width: 100%;
    line-height: 100%!important;
  }
  .ivu-table-header {
    // &:after{
    //   content: "";
    //   position: absolute;
    //   width: 100%;
    //   height: 100%;
    //   box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.16);
    //   top: 0;
    // }
    thead {
      tr {

        th {
          height: 50px;
          background-color: #fff;
          vertical-align: top;

          .ivu-table-cell {

          }
        }
      }
    }
  }
  .ivu-table-body {
    box-shadow: 1px -1px 7px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.16);
    table {
      .ivu-table-tbody {
        tr {
          &.ivu-table-row-hover td{
            background-color: #FAFAFA;
          }
          td {
            color: $dark-base;
          }
        }
      }
    }
  }
  .ivu-table-fixed-right {
    .ivu-table-fixed-header {
      thead {
        tr {
          th {
            height: 70px;
            background-color: #fff;
          }
        }
      }
    }
  }
}
.adm-table-simple{
  thead{
    tr{
      th{
        border-right: none;
        border-left: none;
        border-bottom: none;
        padding: 18px 12px;
      }
    }

  }
  tbody{
    tr{
      td{
        border-right: none;
        border-left: none;
        border-color: #DEDEDE;
      }
    }
  }
}


.amd-title{
  max-height: 76px;
}
.adm-form{
  .adm-form__headding{
    background-color: #1888CC;
    padding-left: 60px;
    height: 30px;
    color: #fff;
    line-height: 30px;
    // margin-top: 20px;
    border-radius: 4px 4px 0 0;
  }
  .adm-form__container{
    border-radius: 4px;	
    background-color: #FDFDFD;	
    box-shadow: 0 0 1px 0 rgba(0,0,0,0.26), 0 0 4px 0 rgba(0,0,0,0.16);
    margin: 20px 0;
  }
  .adm-form__content{
    // padding: 20px;
  }
  .adm-form__item{
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .adm-form__item::after{
    content: "";
    display: block;
    clear: both;
  }

	.adm-form__label{
		text-align: right;
		vertical-align: middle;
		float: left;
		font-size: 12px;
		color: #797979;
		line-height: 1;
    padding: 10px 12px 10px 0;
    
    // padding-right: 12px;
    box-sizing: border-box;
    width: 120px;
    line-height: 16px;
    // width: 180px;
	}
}


.adm-input.ivu-date-picker{
  .ivu-select-dropdown{
    max-height: 330px !important;
  }
  .ivu-picker-panel-body{
    .ivu-date-picker-header{
      color: #797979;
      font-family: "Open Sans";
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 0.2px;
      line-height: 30px;
      padding-top: 10px;
      padding-bottom: 5px; 
      vertical-align: middle;
      height: auto;
    }
  }
  .ivu-picker-panel-content{
    .ivu-date-picker-cells{
      width: 211px;
      margin-left: 10px;
      margin-right: 10px;
      padding: 0;
      .ivu-date-picker-cells-header{
        background-color: #FAFAFA;
      }
      span.ivu-date-picker-cells-cell{
        height: 30px;
        width: 30px;
        color: #797979;
        font-family: "Open Sans";
        font-size: 14px;
        letter-spacing: 0.2px;
        line-height: 30px;
        margin: 0;
      }
    }
    .ivu-time-picker-cells{
      .ivu-time-picker-cells-cell{
        color: #797979;
        font-family: "Open Sans";
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0.2px;
        line-height: 30px;
        height: 30px; 
      }
    }
  }
}

.adm-input {
  .ivu-select-selection,
  .ivu-select-input,
  .ivu-input {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $gray-light;
    background-color: transparent;
    transition: all ease 300ms;
    color: $dark-base;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
  }
  .ivu-icon.ivu-input-icon-clear,
  .ivu-icon.ivu-icon-ios-close-circle {
    background-image: url(../images/remove.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 14px;
    height: 14px;
    bottom: calc(50% - 8px);
    transition: none;
    right: 8px;
    cursor: pointer;
    &::before {
      content: '';
    }
  }
  .ivu-select-input::placeholder,
  .ivu-input::placeholder,
  .ivu-select-selection::placeholder {
    color: $gray-medium;
  }
  .ivu-input:hover:not([readonly]),
  .ivu-select-input:hover:not([readonly]),
  .ivu-select-selection:hover:not([readonly]){
    border-bottom: 1px solid $gray-medium;
  }
  .ivu-input:focus:not([readonly]),
  .ivu-select-input:focus:not([readonly]),
  .ivu-select-selection:focus:not([readonly]){
    border-bottom: 2px solid $blue-light;
  }
  .ivu-select-input:focus,
  .ivu-select-input:hover,
  .ivu-input:focus,
  .ivu-input:hover {
    box-shadow: none;
  }
  textarea.ivu-input {
    border: 1px solid $gray-light;
    border-radius: 3px;
    resize: none;
  }
  textarea.ivu-input:hover:not([readonly]) {
    border: 1px solid $gray-medium;
  }
  textarea.ivu-input:focus:not([readonly]) {
    border: 2px solid $blue-light;
  }
  .ivu-select-dropdown{
    padding: 0;
    max-height: 300px; // ограничение высоты для селектов 
    .ivu-select-dropdown-list .ivu-select-item{
      font-family: "Open Sans";	
      color: #373737;
      font-size: 14px!important;	
      letter-spacing: 0.2px;	
      line-height: 22px;
      white-space: pre-wrap; 
      word-wrap: break-word;
      padding-left: 50px;
      padding-top: 10px;
      padding-bottom: 10px;
      &.ivu-select-item-selected{
        background-image: url(../images/select.svg);
        background-repeat: no-repeat;
        background-position: 15px center;
        transition: none;
      }
    }
  }
}

.adm-input--regular {
  .ivu-select-selection,
  .ivu-select-input,
  .ivu-input {
    font-size: 14px;
    letter-spacing: 0.2px;
  }
}

.adm-input--big {
  .ivu-select-selection,
  .ivu-select-input,
  .ivu-input{
    font-size: 15px;
  }
}


.card {
  box-sizing: border-box;
  background-color: #fff;
  min-height: 241px;
  box-shadow: none;
  &.card-practique {
    background-image: url(../images/hammer.svg);
    background-repeat: no-repeat;
    background-position: 94% 94%;
  }
  &.card-man {
    background-image: url(../images/man.svg);
    background-repeat: no-repeat;
    background-position: 94% 94%;
  }
  &:hover {
    border-color: rgba(24, 136, 204, 0.25);
  }
  &:hover .card__title {
    color: $blue-base;
  }
  .card__version {
    position: absolute;
    bottom: 18px;
    left: 28px;
  }
}

.ivu-card-bordered {
  border-color: #e8e8e8 !important;
}

.ivu-layout {
  background: #fafafa;
}




.adm-btn-primary {
  background-color: #1888CC;
  height: 45px;
  padding: 15px 30px;
  line-height: 100%;
  &:hover {
    background-color: #1172AC;
  }
}

.adm-btn{
  border-radius: 4px;
  padding: 10px 30px;
}
.adm-btn--blue{
  background: #1888CC;
}
.adm-btn-regular {
  font-size: 14px;
  letter-spacing: 0.2px;
  line-height: 16px;
}

.adm-btn-small {
  font-size: 12px;
  letter-spacing: 0.2px;
  line-height: 16px;
}
