@import './variables.scss';
@import "../fonts/opensans/stylesheet.css";
*{
	font-family: 'open_sansregular';
}
.adm-h1{
	font-size: 36px;
	font-weight: 300;
	letter-spacing: 0.4px;
	line-height: 42px;
}
.adm-h2{
	font-size: 24px;
	letter-spacing: 0.1px;
	line-height: 32px;
}
.adm-h2{
	font-size: 20px;
	letter-spacing: 0.2px;
	line-height: 32px;
}
.adm-h4{
	font-size: 20px;
	letter-spacing: 0.2px;
	line-height: 32px;
}
.adm-text-big{
	font-size: 16px;
	letter-spacing: 0.1px;
	line-height: 26px;
}
.adm-txt-regular{
	font-size: 13px;	
	line-height: 22px;
}
.adm-text-italic{
	font-family: 'open_sansitalic';
	font-style: italic;
	letter-spacing: 0.2px;
	line-height: 22px;
}
.adm-text-small {
	font-size: 10px;
	letter-spacing: 0.2px;
	line-height: 14px;
}
.adm-text-small-italic{
	font-size: 9px;
	font-style: italic;
	letter-spacing: 0.2px;
	line-height: 14px;
}
.adm-btn-regular{
	font-size: 14px;
	letter-spacing: 0.2px;
	line-height: 16px;
}
.adm-btn-small{
	font-size: 12px;
	letter-spacing: 0.2px;
	line-height: 16px;
}
.adm-font-light{
	font-family: "open_sanslight";
}

.my-auto { margin-top: auto; margin-bottom: auto; }


html, body, #app{
	height: 100%;
}
.wmax1280{
	max-width: 1280px;
}
.wmax1920{
	max-width: 1920px;
}
.layout--inner{
	background: #ffff;
}
.sider{
	background: $white-light;
	position: absolute;
	height: 100%;
	z-index: 999;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26), 0 2px 10px 0 rgba(0,0,0,0.16);
}
.product_header{
	letter-spacing: 0.2px;	
	line-height: 30px;
}
.sider__menu-link{
	border-right: 5px solid transparent;
	transition: 200ms border ease;
}
.sider__menu-link:hover{
	border-right: 5px solid $blue-light;
}

.sider__menu-link.active-link{
	border-right: 5px solid $blue-light;
}
.tree {
	a.tree__link{
		background-color: #F5FAFD;
		position: relative;
		&.tree__link--selected{
			z-index: 9;
			background-color: #E4EEF5;
			&::after{
				content: "";
				position: absolute;
				width: 26px;
				top: 0;
				bottom: 0;
				background-image: url(../images/arrow.svg);
				background-repeat: no-repeat;
				background-size: 100% 110%;
				background-position: -5px;
				right: -25px;
			}
		}
		&:hover{
			background-color: #E4EEF5;
			&::after{
				content: "";
				position: absolute;
				width: 26px;
				top: 0;
				bottom: 0;
				background-image: url(../images/arrow.svg);
				background-repeat: no-repeat;
				background-size: 100% 110%;
				background-position: -5px;
				right: -25px;
				z-index: 9;
			}
		}
	}
}
.header{
	border-bottom: 1px solid #CCCCCC;
}
.header-menu{
	height: inherit;
	&:after{
		content: none!important;
	}
}
.header-menu__item{
	float: none!important;
	border-bottom: 5px solid transparent;
	&:hover,
	&.ivu-menu-item-active{
		border-bottom: 5px solid $blue-base!important;
	}
}




.custom-table{
	.ivu-table-header{
		thead{
			tr{
				th{
					height: 70px;
					background-color: #fff;
					.ivu-table-cell{

					}
				}
			}
		}
	}
	.ivu-table-body{
		table{
			.ivu-table-tbody{
				tr{
					td{
						font-family: 'open_sansregular';
						// font-size: 13px;
						color: $dark-base;
					}
				}
			}
		}
	}
	.ivu-table-fixed-right{
		.ivu-table-fixed-header{
			thead{
				tr{
					th{
						height: 70px;
						background-color: #fff;
					}
				}
			}
		}
	}
}