$blue-base: #1888CC;
$blue-medium: #1172AC;
$blue-light: #53A4D6;
$blue-thin: #F5FAFD;

$yellow-base: #FFC020;
$yellow-medium: #E1A100;
$yellow-light: #FFD260;

$gray-base: #CCCCCC;
$gray-medium: #9A9A9A;
$gray-light: #DEDEDE;

$red-base: #DE6262;
$red-medium: #D51933;
$red-light: #FBE4E8;

$dark-base: #373737;
$dark-medium: #0C1A27;
$dark-light: #5D5D5D;

$white-base: #ffffff;
$white-medium: #EBF4FC;
$white-light: #FAFAFA;

.color-blue-base        {color: $blue-base;}
.color-blue-medium      {color: $blue-medium;}
.color-blue-light       {color: $blue-light;}
.color-blue-thin        {color: $blue-thin;}
.color-yellow-base      {color: $yellow-base;}
.color-yellow-medium    {color: $yellow-medium;}
.color-yellow-light     {color: $yellow-light;}
.color-gray-base        {color: $gray-base;}
.color-gray-medium      {color: $gray-medium;}
.color-gray-light       {color: $gray-light;}
.color-red-base         {color: $red-base;}
.color-red-medium       {color: $red-medium;}
.color-red-light        {color: $red-light;}
.color-dark-base        {color: $dark-base;}
.color-dark-medium      {color: $dark-medium;}
.color-dark-light       {color: $dark-light;}
.color-white-base       {color: $white-base;}
.color-white-medium     {color: $white-medium;}
.color-white-light      {color: $white-light;}

.bg-blue-base        {background-color: $blue-base;}
.bg-blue-medium      {background-color: $blue-medium;}
.bg-blue-light       {background-color: $blue-light;}
.bg-blue-thin        {background-color: $blue-thin;}
.bg-yellow-base      {background-color: $yellow-base;}
.bg-yellow-medium    {background-color: $yellow-medium;}
.bg-yellow-light     {background-color: $yellow-light;}
.bg-gray-base        {background-color: $gray-base;}
.bg-gray-medium      {background-color: $gray-medium;}
.bg-gray-light       {background-color: $gray-light;}
.bg-red-base         {background-color: $red-base;}
.bg-red-medium       {background-color: $red-medium;}
.bg-red-light        {background-color: $red-light;}
.bg-dark-base        {background-color: $dark-base;}
.bg-dark-medium      {background-color: $dark-medium;}
.bg-dark-light       {background-color: $dark-light;}
.bg-white-base       {background-color: $white-base;}
.bg-white-medium     {background-color: $white-medium;}
.bg-white-light      {background-color: $white-light;}