$blue-base: #1888CC;
$blue-medium: #1172AC;
$blue-light: #53A4D6;

$yellow-base: #FFC020;
$yellow-medium: #E1A100;
$yellow-light: #FFD260;

$gray-base: #CCCCCC;
$gray-medium: #9A9A9A;
$gray-light: #DEDEDE;

$red-base: #DE6262;
$red-medium: #D51933;
$red-light: #FBE4E8;

$dark-base: #373737;
$dark-medium: #0C1A27;
$dark-light: #5D5D5D;

$white-base: #ffffff;
$white-medium: #EBF4FC;
$white-light: #FAFAFA;

