{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ],
    "es2017",
    "stage-0",
    "vue-app"
  ],
  "plugins": [
    [
      "component",
      {
        "libraryName": "element-ui",
        "styleLibraryName": "theme-chalk"
      }
    ]
  ]
}
